body {
	background-image: url("https://i.stack.imgur.com/pMAiU.jpg");
}

#login {
	position: absolute;
	width: 300px;
	height: 200px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
}

.button {
	 border-radius: 4px;
	
	color: white;
	padding: 12px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}