<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<servlet-class>jbdc.UserServlet</servlet-class>
  </servlet>
<servlet>
  	<servlet-name>UserHomeServlet</servlet-name>
  	<display-name>UserHomeServlet</display-name>
  	<servlet-class>com.revature.servlets.UserHomeServlet</servlet-class>
  </servlet> 
 
 
 
 
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>login</display-name>
  	<servlet-class>com.revature.login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DispatcherServlet</servlet-name>
  	<display-name>DispatcherServlet</display-name>
  	<servlet-class>com.revature.web.DispatcherServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserUpdate</servlet-name>
  	<display-name>UserUpdate</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.UserUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserUpdateServlet</servlet-name>
  	<display-name>UserUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserReimbursementServlet</servlet-name>
  	<display-name>UserReimbursementServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.UserReimbursementServlet</servlet-class>
  </servlet>


  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>



  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>DispatcherServlet</servlet-name>
  	<url-pattern>/DispatcherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserHomeServlet</servlet-name>
  	<url-pattern>/UserHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserUpdate</servlet-name>
  	<url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserUpdateServlet</servlet-name>
  	<url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserReimbursementServlet</servlet-name>
  	<url-pattern>/UserReimbursementServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
